/* PC */
@media (min-width: 64em) {
    
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 739px) {
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }
    
    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }
    
    #nav > li a {
        padding: 18px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }
    
    .place-list,
    .place-list .col-third {
        margin-top: 16px;
    }

    .contact-form {
        margin-top: 32px;
    }

    .place-body .btn,
    .contact-form .btn-submit {
        width: 100%;
    } 
}


/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    .contact-info {
        line-height: 2;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}