/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html body {
    font-size: 15px;
}


/* 
1. Từ ngoài vào trong 
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/


/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (font chữ, màu chữ, hình dạng,..) 
*/

#main {}

#header {
    height: 46.5px;
    background-color: black;
}

#nav {}

#nav li {
    display: inline-block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover a {
    color: #000;
    background-color: #fff;
}

#nav .subnav {
    display: none;
}

#slider {}

#content {}

#footer {}